/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f8fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor principal */
/*.container {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}*/

/* Estilos para el formulario */
form {
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #4CAF50;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="tel"],
#insumo {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}



/* Estilos para los botones */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para los botones */
.volver {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #ff3939;
    color: #fff;
    transition: background-color 0.3s ease;
}

.volver:hover {
    background-color: #ff0a0a;
}

.cancelar,
.insumos-container{
    display: flex;
    gap: 10px;
}
