body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}

h1 {
    font-size: 50px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.menu{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex; /* Usa flexbox */
    justify-content: center;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #41f760;
}



#content {
    display: flex; /* Alinea los formularios en fila */
    justify-content: space-around; /* Distribuye los botones de manera uniforme */
    align-items: center; /* Centra verticalmente */
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
}

form {
    flex: 1; /* Hace que todos los botones tengan el mismo tamaño */
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    background: #092327;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%; /* Que ocupen casi todo el espacio disponible */
    max-width: 250px; /* Evita que sean demasiado anchos */
    text-align: center;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #41f760;
}