section {
    display: flex;
    gap: 20px;
}

section a {
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

section a img {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

section a span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}