.contenedor {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}

#agregar{
    width: 90%;
}

#btnAgregar {
    background-color: #19d413;
    border-color: #19d413;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}
#btnAgregar:hover {
    background-color: rgb(159, 255, 135);
    border-color: rgb(159, 255, 135);
}

#btnModificar {
    background-color: #fcf80d;
    border-color: #fcf80d;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}
#btnModificar:hover {
    background-color: rgb(241, 255, 113);
    border-color: rgb(241, 255, 113);
}

#btnEliminar {
    background-color: #f33921;
    border-color: #f33921;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}
#btnEliminar:hover {
    background-color: rgb(255, 121, 121);
    border-color: rgb(255, 121, 121);
}

.busqueda{
    display: flex;
    align-items: center;
    gap: 10px;
}

#busqueda, #ordenarPor, input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#busqueda {
    width: 300px;
}
input[type="submit"] {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #535353;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
img {
    border-radius: 5px;
}
.btn {
    padding: 8px 12px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #218838;
}
.btn-danger {
    background-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
}
.btn-primario {
    background-color: #007bff;
    color: white;
    border: none;
}
.btn-primario:hover {
    background-color: #0056b3;
}
.carrito-btn {
    margin: 20px;
    padding: 12px 20px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.carrito-btn:hover {
    background-color: #138496;
}
.volver-btn {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #ffc107;
    color: #212529;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.volver-btn:hover {
    background-color: #e0a800;
}
