body {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
#busqueda, #ordenarPor, input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#busqueda {
    width: 300px;
}
input[type="submit"] {
    background-color: #555555;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #535353;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
img {
    border-radius: 5px;
}
.btn {
    padding: 8px 12px;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #218838;
}
.btn-danger {
    background-color: #dc3545;
}
.btn-danger:hover {
    background-color: #c82333;
}
.btn-primario {
    background-color: #007bff;
    color: white;
    border: none;
}
.btn-primario:hover {
    background-color: #0056b3;
}
