body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    /*margin-left: 50px;*/
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

#dialogContacto{
    border: none;
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 2rem 3rem;
    max-width: 80%;
    border-radius: 5px;
    animation: show-dialogContacto .7s .5s both;
}

#dialogContacto[open]::backdrop{
    animation: show-backdrop .5s forwards;
}

#dialogContacto::backdrop{
    background-color: hsl(0 0% 0% / 70%);
}

@keyframes show-dialogContacto{
    0%{
        transform: translateY(60%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes show-backdrop{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}


